<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yao.test.mapper.UserMapper">
    <select id="selectUserPage" resultType="com.yao.test.controller.vo">
        select * from user
        <where>
            <if test="name != null and name !=''">userName like concat('%',#{name},'%')</if>
        </where>
        order by createDate asc limit #{page},#{pageSize}
    </select>
    <select id="selectUserCount" resultType="java.lang.Long"
            parameterType="com.yao.test.controller.PageQueryVo">
        select count(*) from user
            <where>
            <if test="name != null and name !=''">userName like concat('%',#{name},'%')</if>
            </where>

    </select>
</mapper>